// MIXINS
@mixin clearfix {
  &:before, &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin ellipsize {
  @include ellipsis;
  white-space: nowrap;
}
